@using TeknikServis.BLL.Identity
@using TeknikServis.Entity.Enums
@using TeknikServis.Entity.IdentityModels
@model TeknikServis.Entity.ViewModels.ArizaViewModels.ArizaViewModel
@{
    ViewBag.Title = "OPArizaDetay";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section top{
    <link href="~/assets/css/lightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick.min.css" />
    <link rel="stylesheet" href="~/assets/js/plugins/slick/slick-theme.min.css" />

}
<h2 class="text-center">Teknisyen Atama Ariza Detay</h2>

<div class="col-md-12">
    <div class="card">
        <div class="card-block tab-content">
            <div class="tab-pane fade active in" id="profile-tab1">

                @using (Html.BeginForm("TeknisyenAta", "Operator", FormMethod.Post, new { @class = "fieldset" }))
                {
                    @Html.AntiForgeryToken()
                    var data = MembershipTools.GetMusteri(Model.MusteriId);
                    @Html.HiddenFor(x => x.ArizaId)

                    <h4 class="m-t-sm m-b">Teknisyen Atama Sayfası</h4>
                    <br />

                    <div class="form-group row">
                        <div class="col-md-12">

                            <br />
                            @if (Model.ArizaDurumu != ArizaDurum.TeknisyenAtandi)
                            {
                                @Html.Label("Teknisyen Seçiniz", new { @class = "col-md-3 control-label" })
                                <div class="col-md-6">
                                    @*TODO buradaki x.UserId sayafaya gelen modelde olmalı. ona göre anlıyor. ve tipi de geldigi gibi olmalı. string geliyorsa string int ise int*@
                                    @Html.DropDownListFor(x => x.UserId, (List<SelectListItem>)ViewBag.TeknisyenK, new { @class = "form-control", size = "1" })
                                </div>
                                <div class="row narrow-gutter">
                                    <div class="col-md-12">
                                        <button class="btn btn-app-purple btn-block" type="submit">Teknisyen Ata</button>
                                    </div>
                                </div>
                            }
                            else
                            { <div class="row narrow-gutter">
                                    <div class="col-md-12">
                                        <span class="icon-alert"> Bu Kayda Teknisyen Atandı. Detayları Görebilirsiniz. </span>
                                    </div>
                                </div>

                            }

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-6">
                            @Html.Label("", "Müşterinin Adı")
                            @Html.TextBox("data.Name", data.Name, new { @class = "form-control", @readonly = "readonly" })

                        </div>
                        <div class="col-xs-6">
                            @Html.Label("", "Müşterinin Soyadı")

                            @Html.TextBox("data.Surname", data.Surname, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-6">
                            @Html.Label("", "Müşteri Email")
                            @Html.TextBox("data.Email", data.Email, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="col-xs-6">
                            @Html.LabelFor(x => x.Telno)
                            @Html.TextBoxFor(x => x.Telno, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("", "Adres Bilgisi")
                        @Html.TextAreaFor(x => x.Adres, new { @class = "form-control", @readonly = "readonly" })
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-6">
                            @Html.Label("", "Arızalı Ürün Resmi")

                            @for (int i = 0; i < Model.ArızaPath.Count; i++)
                            {
                                var cx = Model.ArızaPath[i];
                                <a href="@cx" rel="lightbox">
                                    <img src="@cx" class="img-avatar-96" width="100" height="100">
                                </a>
                            }
                        </div>
                        <div class="col-xs-6">
                            @Html.Label("", "Ürün Fatura Bilgisi")
                            <a href="@(string.IsNullOrEmpty(Model.FaturaPath) ? "/assets/img/avatars/avatar3.jpg" : Model.FaturaPath)" rel="lightbox">
                                <img src="@(string.IsNullOrEmpty(Model.FaturaPath) ? "/assets/img/avatars/avatar3.jpg" : Model.FaturaPath)" class="img-avatar-96" width="100" height="100" />
                            </a>
                        </div>

                    </div>


                }
                <!-- Profile tab 1 -->
                @*<form class="fieldset">*@

                @*</form>*@
            </div>
            <!-- End profile tab 1 -->

        </div>
        <!-- .card-block .tab-content -->
    </div>
    <!-- .card -->
</div>



@section bottom
{
    <script src="~/assets/js/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/lightbox-plus-jquery.min.js"></script>
    <script src="~/assets/js/lightbox.js"></script>
    <script>
        $(function () {
            App.initHelpers(['select2']);

        });
    </script>
}

