@model List<string>
<aside class="app-layout-drawer">
    <!-- Drawer scroll area -->
    <div class="app-layout-drawer-scroll">
        <!-- Drawer logo -->
        <div id="logo" class="drawer-header">
            <i class="fa fa-cogs fa-2x">FİTECH<br/>Beyaz Ölüm</i>
        </div>
        <!-- Drawer navigation -->
        <nav class="drawer-main">
            <ul class="nav nav-drawer">
                <li class="nav-item nav-drawer-header">Markalarımız</li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="ion-android-people fa-2x"></i>Markalarımız</a>
                    <ul class="nav nav-subnav">
                        <li>
                            <a href="https://www.arcelik.com.tr">Arçelik</a>
                        </li>
                        <li>
                            <a href="https://www.samsung.com/tr">Samsung</a>
                        </li>
                        <li>
                            <a href="https://www.bosch-home.com.tr/">Bosch</a>
                        </li>

                    </ul>
                </li>               
                <li class="nav-item nav-drawer-header">Kullanıcılar</li>
                @if (HttpContext.Current.User.IsInRole("Admin"))
                {
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"> <i class="ion-android-person fa-2x"></i>Admin</a>
                        <ul class="nav nav-subnav">
                            <li>
                                <a href="@Url.Action("Index", "Admin")">Admin AnaSayfa</a>
                            </li>
                            <li>
                                <a href="@Url.Action("EditUser", "Admin")">Kullanıcı Ayarı</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Operator")">Operator Indexi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ArizaDetay", "Operator")">Operator Arizadetay</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Musteri")">musteri Indexi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ArizaTakip", "Musteri")">müsteri arıza takip</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Operator"))
                {
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="ion-android-people fa-2x"></i>Operatör</a>
                        <ul class="nav nav-subnav">
                            <li>
                                <a href="@Url.Action("Index", "Operator")">Operator Anasayfa</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ArizaDetay", "Operator")">Operator Arizadetay</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ArizaList", "Operator")">Operator Arizalsitesiy</a>
                            </li>
                            <li>
                                <a href="@Url.Action("OPArizaDetay", "Operator")">Operator Detayımsı</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Teknisyen"))
                {
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="ion-android-people fa-2x"></i>Teknisyen</a>
                        <ul class="nav nav-subnav">
                            <li>
                                <a href="@Url.Action("Index", "Teknisyen")">Teknisyen Index</a>
                            </li>

                        </ul>
                    </li>
                }
                @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Musteri"))
                {
                    <li class="nav-item nav-item-has-subnav">
                        <a href="javascript:void(0)"><i class="ion-ios-people fa-2x"></i> Müsteri</a>
                        <ul class="nav nav-subnav">
                            <li>
                                <a href="@Url.Action("Index", "Musteri")">Ariza Bildirimi</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ArizaTakip", "Musteri")">Arıza Takip</a>
                            </li>

                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <!-- End drawer navigation -->
        <div class="drawer-footer">
            <p class="copyright">AppUI Template &copy;</p>
            <a href="https://shapebootstrap.net/item/1525731-appui-admin-frontend-template/?ref=rustheme" target="_blank" rel="nofollow">Purchase a license</a>
        </div>
    </div>
    <!-- End drawer scroll area -->
</aside>

