@using Microsoft.AspNet.Identity
@using TeknikServis.BLL.Identity
@using TeknikServis.Entity.IdentityModels
@model List<string>
@{
    ViewBag.Title = "AnketPuanRapor";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<div class="row">

    <div class="col-lg-6">
        <!-- Header BG Table -->
        <div class="card">
            <div class="card-header">
                <h4>Teknisyenlerin Davranıs Ve Bilgi Puanları</h4>  
            </div>
            <div class="card-block">
                <table class="table table-striped table-borderless table-header-bg">
                    <thead>
                        <tr class="active">
                            <th class="text-center" style="width: 50px;">#</th>
                            <th>Teknisyen Adı</th>
                            <th>Telefon</th>
                            <th class="hidden-xs w-15">Davranış Puanı</th>
                            <th class="hidden-xs w-15">Bilgi Puanı</th>
                        </tr>
                    </thead>
                    <tbody class="active">
                        @for (int i = 0; i < Model.Count; i++)
                        {

                            var data = MembershipTools.NewUserManager().FindById(Model[i]);
                            <tr>
                                <td class="text-center">@(i + 1)</td>
                                <td>@(data.Name) @data.Surname</td>
                                <td>@data.PhoneNumber</td>
                                <td class="text-green">@MembershipTools.TeknisyenDavranisPuaniGetir(Model[i])</td>
                                <td class="text-blue">@MembershipTools.TeknisyenBilgiPuanıGetir(Model[i])</td>
                            </tr>
                        }


 
                </table>
            </div>
            <!-- .card-block -->
        </div>
        <!-- .card -->
        <!-- End Header BG Table -->
    </div>
    <!-- .col-lg-6 -->

    <div class="col-lg-6">
        <!-- Contextual Table -->
        <div class="card">
            <div class="card-header">
                <h4>Fitech Davranış Ve Hizmet Puanları</h4>
            </div>
            <div class="card-block">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th >Fitech Davranıs Puanı Ortalaması</th>
                            <th >Fitech Hizmet Paunı Ortalaması</th>
                            <th >Fitech Arızaları Ortalama Çözülme Süresi</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="active">
                            <td>@MembershipTools.FitechDavranisPuanOrtalamasi()</td>
                            <td>@MembershipTools.FitechHizmetPuaniOrtalamasi()</td>
                            <td>@MembershipTools.OrtalamaArizaCozumSuresi()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- .card-block -->
        </div>
        <!-- .card -->
        <!-- End Contextual Table -->
    </div>
    <!-- .col-lg-6 -->
</div>



